/* Colors CSS */

// items color
$social-item-color: #55f;
$portfolio-item-color: #22f;
$whatsapp-item-color: #7f7;

// hovers
$social-hover-color: #99f;
$portfolio-hover-color: #0ff;
$whatsapp-hover-color: #7f7;

$textlink-hover-color: #212121;
$messengers-hover-color: rgb(255, 71, 5);
