/* Hover CSS */

// VK Item & Link
.i-social:hover {
  background-color: $social-hover-color;
  transition-duration: 0.3s;
}
.l-social:hover {
  color: $textlink-hover-color;
  font-weight: bold;
  transition-duration: 0.3s;
}

// Portfolio Item & Link
.i-portfolio:hover {
  background-color: $portfolio-hover-color;
  transition-duration: 0.3s;
}
.l-portfolio:hover {
  color: $textlink-hover-color;
  font-weight: bold;
  transition-duration: 0.3s;
}

// Phone Item & Link
.i-phone:hover {
  background-color: $whatsapp-hover-color;
  transition-duration: 0.3s;
}
.l-phone:hover {
  color: $textlink-hover-color;
  font-weight: bold;
  transition-duration: 0.3s;
}
